<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" media="screen and (max-width:800px)" href="static/tablet.css">
    <link rel="stylesheet" media="screen and (max-width:530px)" href="static/phone.css">
</head>
<body>

    <nav class="navbar">
         <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>
    </nav>    

    <section id="home">
        <div class="main">
            <h1 class="headings">I AM <br> VINOD KUMAR SHARMA</h1> <br> 
            <button class="btn">
                Hire me
            </button>
        </div>
    </section>

    <section id="about">
        <h1 class="headings">ABOUT ME</h1>
        <div id="pic">
            <img src="static/img1.jpg" alt="">
            <div id="intro">
                 <h2>VINOD KUMAR SHARMA</h2>
                 <P>I am a resident of Babhnan in Basti district 
                    of Uttar Pradesh and I started my primary education 
                    from Indian Public School and today I have passed 
                    my graduationEducation Thought English For Students and Teachers 
                    | Education Thoughts That Will Inspire Your Success and 
                    you Achieve Your Dreams. Believe in yourself and the 
                    world will be at your feet. Only you can change your 
                    life, not another. If human beings want to do what 
                    they cannot do, there are Read more!</P>
                    <h4>Mobile Number : 9795929844 Only For Whatsapp Messages & Calling</h4>
                    <h4>Our Youtube Channel- Wifi Google Gyan</h4>
        </div>
        </div>
    </section>

    <section id="portfolio">
        <h1 class="headings">PORTFOLIO</h1>
        <div class="gallery">
            <img src="static/Portfolio/img2.jpg" alt="">
            <img src="static/Portfolio/img3.jpg" alt="">
            <img src="static/Portfolio/img4.jpg" alt="">
            <img src="static/Portfolio/img5.jpg" alt="">
            <img src="static/Portfolio/img6.jpg" alt="">
            <img src="static/Portfolio/img7.jpg" alt="">
        </div>
    </section>

    <section id="services">
        <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <img src="static/Services/png2.png" alt="">
                <h1 class="headings">Website Design</h1>
                <p>With years of experience and with the latest design 
                    software, we are confident that we can provide you 
                    with a high-quality website.!</p>
            </div>
            <div class="box">
                <img src="static/Services/png2.png" alt="">
                <h1 class="headings"><br> Developer</h1>
                <p>A Web Design service produces the look, 
                    structure along with provisions of an online webpage. 
                    The position will include understanding both video 
                    plans and Freelance Website Designer in India. We are 
                    offering the best Freelance assistance on the site. 
                    PHP Website Development, web planning,!</p>
            </div>
            <div class="box">
                <img src="static/Services/png2.png" alt="">
                <h1 class="headings">Digital Marketing</h1>
                <p>In this quickly developing digital world, 
                    the right digital marketing services solutions 
                    can take your business higher than ever. We assist 
                    you to appreciate the highest level of Google with 
                    our SEO administrations. We are the main Digital 
                    Marketing Company in India.!</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <h1 class="headings">CONTACT</h1>
                    <form action="" class="form">
                        <input type="text" name="name" clas="input" placeholder="Enter Your Name">
                        <input type="Email" name="email" class="input" placeholder="Enter Your Email">
                        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
                        <input type="submit" value="SEND" id="send">
                    </form>
    </section>
</body>
</html>